<footer class="site-footer">
  <!-- CAPA 1: INFORMACIÓN LEGAL Y DE VERSIÓN -->
  <div class="site-foot__info">
    <div class="footer-left">
      <span class="footer-version">© 2026 System Friction</span><br>
      <span class="footer-observations">Observaciones que desafíen este marco:</span><br>
      <a href="mailto:aptymok@gmail.com" class="footer-email">aptymok@gmail.com</a><br><br>
      <span class="footer-version">El ecosistema crece por acumulación,<br>
      no por corrección de consistencia.</span><br>
    </div>
    <div class="footer-right">
      <div class="footer-copyright">© 2026 Juan Antonio Marín Liera · <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">CC BY 4.0</a></div>
      <div class="footer-domain"><a href="https://systemfriction.org">systemfriction.org</a></div>
      <div class="footer-nav">
        <a href="{{ site.baseurl }}/about/">Ontología del Sistema</a> ·
        <a href="{{ site.baseurl }}/changelog/">Trazabilidad (Changelog)</a> ·
        <a href="{{ site.baseurl }}/licencia/">Licencias y Uso</a> ·
        <a href="https://github.com/Aptymok/system-friction">GitHub</a>
      </div>
    </div>
  </div>

    <div class="site-foot__audit">
     <span class="audit-badge">NTI del Sistema · <br>
     <a href="{{ site.baseurl }}/estado/">Auditoría · 08 de Marzo 2026  → </a></span>
    </div>

    <div class="site-foot__audit">
     <span class="audit-badge">System Friction Lab · Beta<br>
     <a href="{{ site.baseurl }}/SystemFrictionLab/index.html/">Métodos estocásticos<br>e interconexión sistémica<br> · 08 de Marzo 2026  → </a></span>
    </div>
  </footer> 